
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    font-size: 1rem;
}

label {
    display: block;
    
}

label span {
    font-size: 1.3rem;
}

svg {
    height: 1lh;
}


.submit-button {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 0.5rem;
    background-color: #f1f5f9;
    border: 1px solid #cbd5e1;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    color: #64748b;
    font-size: 1.2rem;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

fieldset label {
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 0.5rem;
    background-color: #e9e7e7;
    transition: ease-in 0.2s;
    border: 1px solid #cbd5e1;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    color: #64748b;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input[type="radio"] {
    visibility: hidden;
    width: 0;
}
label:has(input[type="radio"]:checked) {
    background-color: #d3edfd
}

progress {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.spelling-label {
    display: flex;
    justify-self: end;
}



#output {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 0;
    padding: 0;
    transition: height 0.3s ease-in-out;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
    height: 0; 
    overflow: auto;
}


#output:open { 
    height: 200px;
}

@starting-style {
    #output:open {
        height: 0px;
    }
}

#output .next-button {
    margin-inline: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    padding: 0.5rem;
    background-color: #f1f5f9;
    border: 1px solid #cbd5e1;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    color: #64748b;
    font-size: 1.2rem;
    margin-top: auto; 
}

#evaluation {
    margin-inline: 10px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1.15rem;
    margin-block: 0;
    
}

#translation {
    margin-inline: 10px;
    font-size: 1.1rem;
}




body.correct #output {
    background-color: #d7ffb8;
    color: #4e9102;
}
body.correct label:has(input[type="radio"]:checked) {
    background-color: #d7ffb8;
}

body.incorrect #output {
    background-color: #ffdfe0;
    color: #b92121;
}
body.incorrect label:has(input[type="radio"]:checked) {
    background-color: #ffdfe0;
}
body.incorrect label.answer {
    background-color: #d7ffb8;
}

